.flex-center { display: flex; justify-content: center; align-items: center; }
.max-width { max-width: 420px; margin: auto; }
.overflow-hidden { overflow: hidden; }
.progress-bar { height:8px;width:0%; transition: all 0.5s;}
.app-logo {width: 180px; height: 180px;}
li .app-logo {width: 80px; height: 80px; padding: 8px;}
.app-list li { display: flex; gap: 8px; }